.post-section {
  margin-top: 4rem;
  margin-left: 2rem;
  max-width: 80vw;
  padding: 1rem;
}
/* BACKGROUND COLOR */
.like:hover,
.dislike:hover,
.hider-button:hover,
.Subscribe:hover{
  background-color: var(--clr-primary-1);
}

.link-list-user{
		color:var(--clr-primary-1);
		text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FONT SIZE TITLE */
.parragraph-1,
.parragraph-2 {
  font-size: var(--media-title);
}

.section-Recommended-container {
  margin: auto;
  justify-content: center;
  max-width: 70rem;
}
.sinopsis {
  margin: 1rem;
}
.parragraph-1 {
  font-style: italic;
}

.author-name-display {
  font-weight: bold;
  font-size: .8em;
}

.parragraph-3,
.parragraph-4,
.gap {
  gap: 5px;
}
.footer-container {
  margin-top: 2rem;
}

.author-information-container {
  background-color: var(--clr-grey-1);
  height: 3rem;
  border-radius: 50px;
  display: flex;
  border: 1px solid var(--clr-primary-3);
  justify-content: space-between;
  align-items: center;
}

.image-author-profile {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.like,
.dislike,
.Subscribe {
  background-color: var(--clr-grey-1);
  padding: 0.5rem;
  border: none;
  font-size: var(--media-title);
  height: 100%;
  cursor: pointer;
}
.Subscribe {
  background-color: var(--action-color);
}

.like:hover,
.dislike:hover,
.hider-button:hover,
.Subscribe:hover {
  color: var(--clr-primary-3);
}
.like {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.Subscribe {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.off {
  display: none;
}
.hider-button {
  height: 3rem;
  border-radius: 50px;
  background-color: var(--clr-primary-2);
  color: var(--clr-primary-3);
  margin-top: 0.3rem;
  border: 1px solid var(--clr-primary-3);
}
.Discuss-coffe {
  display: flex;
  align-items: center;
	border-bottom: 2px solid var(--clr-grey-1);
}

.footer__items__center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
}
.bg-color {
  border-radius: 50px;
  background-color: var(--clr-grey-1);
}
/* RESPONSIVE SECTION */
@media screen and (min-width: 768px) {
  .hider-button {
    display: none;
  }
  .like,
  .dislike,
  .Subscribe {
    width: 33.3%;
    font-size: var(--normal-title);
  }
  .section-Recommended-container {
    display: flex;
  }
  .post-section {
    max-width: 50rem;
  }
  .createdat-style {
    color: var(--clr-primary-2);
  }
  .parragraph-2 {
    font-size: var(--normal-p);
  }
  .parragraph-1 {
    font-size: var(--normal-title);
  }

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
   }

  }

@media screen and (max-width: 768px) {
  .like,
  .dislike,
  .Subscribe {
    width: 33%;
    font-size: 1.1rem;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .hider-button {
    height: 2rem;
  }
	.container{
			margin:7rem 1rem 0 3.4rem ;
	}
}
