.container {
  margin-top: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--clr-primary-3);
}
.container__center {
  background-color: var(--clr-primary-2);
  width: 50%;
  padding: 30px;
  border-radius: 30px;
}
.container__title {
  text-align: center;
}
.form-post {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.form-post input,
textarea {
  font-family: "Roboto", sans-serif;
  width: 80%;
  outline: none;
  border-radius: 10px;
  height: 2rem;
  border: none;
  background-color: var(--clr-dark-grey);
  color: var(--clr-primary-3);
}
.form-post input:focus,
textarea:focus {
  box-shadow: 0px 0px 9px 0px #67ff00eb;
}
.form-post input::placeholder,
textarea::placeholder {
  color: var(--clr-primary-3);
  text-align: start;
}
.form-post textarea {
  height: auto;
}
.button-post {
  border: none;
  border-radius: 50px;
  padding: 10px;
  background-color: var(--clr-dark-grey);
  color: var(--clr-primary-3);
  cursor: pointer;
  box-shadow: 3px 8px 12px 0px #0e0e0e;
  width: 30%;
}
.button-post:active {
  transform: scale(1.1);
}
.form__file {
  position: relative;
  display: inline-block;
}
.form__file::before {
  background-color: #5678EF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar'; /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.form__file input[type="file"] {
  opacity: 0;
  width: 100%;
  height: 32px;
  display: inline-block;
  cursor: pointer;
}

@media screen and (max-width: 760px) {
  .container {
    margin: 6rem 0;
  }
  .container__center {
    margin: auto 0 auto -2rem ;
    width: 80%;
  }
  .form-post input,
  textarea {
    width: 100%;
  }
}

