.validatescreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.coffe-verified, .welcome-verified, .text-verified {
  margin: 20px 0;
}
.coffe-verified{
		font-size: 15rem;
		color: var(--clr-grey-1);
		 animation-name: inclinar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: center;
}

@keyframes inclinar {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
