.full-navbar-container {
  background-color: var(--dark-shadow);
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: 20px;
}
.container__search__input {
  font-family: 'Roboto', sans-serif;
  border: none;
  background-color: var(--clr-primary-3);
  border-radius: 50px 0 0 50px;
  outline: none;
  width: 60%;
  height: 2rem;
  color: var(--clr-primary-1);
  text-align: center;
  font-weight: bold;
}
.search__btn {
  border: none;
  width: 3rem;
  height: 2.1rem;
  border-radius: 0 50px 50px 0;
  background-color: var(--action-color);
  font-size: 2em;
	cursor: pointer;
}
.container__search__input:focus {
  box-shadow: 0px 0px 9px 0px #67ff00eb;
}
