.form-container-LogOut {
  width: 100vw;
  height: 100VH;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 400px;
  background-color: white;
  min-height: 100px;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  text-align: center;
}
.button-action-logout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
