.cards-Recommended-container {
  display: flex;
  margin: auto 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
	border-left: 1px solid var(--clr-grey-1);
}
.Recommended-section h1 {
  margin: 4rem 8rem;
  width: 8rem;
}
@media screen and (min-width: 820px) {
  .Recommended-section {
    max-width: 10rem;
    margin: 6rem 4rem;

  }
  .Recommended-section h1 {
    margin: 2rem 0rem;
    width: 14rem;
  }
  .cards-Recommended-container{
			margin: 1rem auto;
			border-radius: 3px;
			width: 14rem;
	}
}
