.SignIn {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 241, 241);

}

.SignIn-Container {
  width: 30%;
  text-align: center;
  background-color: #e7e7e7;
  padding: 20px;
  box-shadow: 3px 3px 2px 0 #a3a3a3;
  z-index: 1;
}
.SignIn::before {
  content: " ";
  height: 50%;
  width: 100%;
  background-color: rgb(124, 124, 124);
  position: absolute;
  bottom: 0;
  left: 0;
}

.action-button {
  color: var(--clr-primary-3);
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form__input {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  height: 30px;
  width: 90%;
  transition: border-bottom .7s ease;
  font-family: 'Roboto', sans-serif;
}

.form__input:focus {
  border-bottom: 1.2px solid rgba(62, 130, 255, 0.808);
}

.action-button{
  width: 47%;
  padding: 10px;
  margin: 5px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: transform .7s ease;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-color: var(--clr-primary-2);
}

.action-button:hover {
  background-color: rgb(71, 71, 71);
}
.action-button:active {
  transform: scale(1.2);
}

.swichter-button {
  color: cornflowerblue;
  font-size: .8rem;
  cursor: pointer;
  font-weight: bold;
}
@media screen and (max-width: 768px) {

  .action-button {
    width: 45%;
  }

  .SignIn-Container {
    width: 80%;
  }
}